@{
    ViewData["Title"] = "Home Page";
}
@model Dealer

<div class="row">
    <div class="col-lg-8 table-bordered">
        <div class="col-lg-2"><button type="button" name="Next" onclick="location.href='@Url.Action("Next", "Home")'">Next</button></div>
        <div class="col-lg-2"><button type="button" name="Reset" onclick="location.href='@Url.Action("Reset", "Home")'">Reset</button></div>
        <div class="col-lg-2"><b>Deck size:</b> @Model.GetDeckSize()</div>
        <div class="col-lg-6"><b>Discard:</b> @Model.GetTopCard().ToString()</div>
    </div>
    <div class="col-lg-4 table-bordered">
        <b>Log:</b><br />
        <ul>
            @foreach (var s in Model.GetLog())
            {
                <li>@s</li>
            }
        </ul>
    </div>
</div>

<div class="row"><br /></div>

<div class="row">
    <div class="col-lg-5">
        <div class="row table-bordered @(Model.GetCurrentTurn() == 0 ? "bg-primary" : "")"><b>@Model.GetPlayers()[0].GetName()'s hand</b></div>
        <div class="row table-bordered">
            <ul>
                @foreach (var card in Model.GetPlayers()[0].GetHand())
                {
                    <li>@card.ToString()</li>
                }
            </ul>
        </div>
    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-5">
        <div class="row table-bordered @(Model.GetCurrentTurn() == 1 ? "bg-primary" : "")"><b>@Model.GetPlayers()[1].GetName()'s hand</b></div>
        <div class="row table-bordered">
            <ul>
                @foreach (var card in Model.GetPlayers()[1].GetHand())
                {
                    <li>@card.ToString()</li>
                }
            </ul>
        </div>
    </div>
</div>

<div class="row"><br /></div>

<div class="row">
    <div class="col-lg-5">
        <div class="row table-bordered @(Model.GetCurrentTurn() == 2 ? "bg-primary" : "")"><b>@Model.GetPlayers()[2].GetName()'s hand</b></div>
        <div class="row table-bordered">
            <ul>
                @foreach (var card in Model.GetPlayers()[2].GetHand())
                {
                    <li>@card.ToString()</li>
                }
            </ul>
        </div>
    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-5">
        <div class="row table-bordered @(Model.GetCurrentTurn() == 3 ? "bg-primary" : "")"><b>@Model.GetPlayers()[3].GetName()'s hand</b></div>
        <div class="row table-bordered">
            <ul>
                @foreach (var card in Model.GetPlayers()[3].GetHand())
                {
                    <li>@card.ToString()</li>
                }
            </ul>
        </div>
    </div>
</div>
